body {
    font-size: 14px;
    background: #f0f0f0;
}
header {
    width: 100%;
    height: 1rem;
    background: #e5f6ff;
    line-height: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.container {
    margin-top: 1rem;
}
header span {
    background: #36bac8;
    color: #fff;
    font-size: 0.3rem;
    border-radius: 4px;
}
header .keshi {
    padding: 0.15rem 0.2rem;
    margin-left: 0.5rem;
}
header .liebiao {
    padding: 0.15rem 0.2rem;
    margin-left: 1.5rem;
}
.list {
    width: 25%;
    float: left;
    text-align: center;
    overflow: scroll;
    font-size: 0.3rem;
}
.list li:nth-child(1) {
    background: #36bac8;
}
.list li {
    line-height: 0.8rem;
    border-bottom: 1px solid #ccc;
}
.content {
    width: 75%;
    float: left;
    overflow: scroll;
}
.content li {
    overflow: hidden;
    background: #fff;
    margin-top: 0.2rem;
    padding: 0.3rem 0.2rem;
    /*position: relative;*/
    /*background-image: url(../image/arrow_right@2x.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 6%;*/
}
.content li span {
    position: absolute;
    left: 0;
    top: 0;
    background: #82bc35;
    color: #fff;
    padding: 0.05rem;
}
.content p {
    /*width: 4.5rem;*/
    display: inline-block;
    margin: 0.2rem 0.1rem;
}
.video-play {
    position: fixed;
    left: 0;
    top: 0;
}
video {
    width: 100%;
    height: 4.3rem;

}
.return {
    width: 0.6rem;
    height: 0.5rem;
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
    z-index: 100;
}
.video-main {
    margin-top: 5rem;
    /*padding: 0 0.3rem;*/
}
.state h5 span, .video-list h5 span {
    display: inline-block;
    width: 0.55rem;
    height: 0.55rem;
    /*border: 1px solid red;*/
    /*margin-left: 0.4rem;*/
    margin: 0 0.2rem;
}
.state h5 span {
    background: url("../image/videoDesc@2x.png") no-repeat;
    background-size: 100% 100%;
}
.video-list h5 span {
    background: url("../image/videoList@2x.png") no-repeat;
    background-size: 100% 100%;
}
.state h5 , .video-list h5{
    font-size: 0.5rem;
    /*margin-bottom: 0.2rem;*/
    background: #efeef4;
    padding: 0.2rem;
    /*border: 1px solid red;*/
}
.state p {
    padding: 0.2rem 0.4rem;
}
.video-list li {
    font-size: 0.38rem;
    padding: 0.4rem 0.4rem;
    border-bottom: 1px solid #ccc;
}
.video-list li span{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../image/videoListPlay@2x.png") no-repeat;
    background-size: 100% 100%;
}
.video-list li p {
    display: inline-block;
    width: 4rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin: 0 0.3rem;
}
#output img {
    width: 5rem;
    height: 2.5rem;
    border: 1px solid red;
}
